/* pages/generate/generate.wxss */
.btn_list{
  // width: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  // position: fixed;
  // bottom: 0;
  height: 120rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save_btn{
  cursor: pointer;
  background-color: #e5bdff;
  color: #fff;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  // flex:0 0 auto;
}
.cancel_btn{
  // background-color: #e5bdff;
  // color: #fff;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.img_row{
  display: flex;
  justify-content: center;
  .img_box{
    width: calc(50vw - 20px);
    height: calc(50vw - 20px);
    border-radius: 16px;
    overflow: hidden;
    image{
      width: 100%;
      height: 100%;
    }
  }
}